/*
	Team  iNobe
	Fecha 27/11/2012
	Hora  11:24
	Web   www.restaurantelmexicano.com.mx
*/
body, html
	margin 0px
body
	background url(../images/diamond.png) repeat
footer
	display block
	width   100%
header
	display block
	width 100%
nav
	float        right
	margin-rigth 15px
	width        600px
nav
	ul
		margin 0px
	li
		display inline
		float   left
		margin  5px
		a
			text-decoration none
			&:hover
				text-decoration underline
#descripcion
	display    block
	padding    10px
	text-align justify
	max-width  100%
#especialidades
	display block
	width   100%
#galeria
	float left
	width 650px
#galeriaPromociones
	display block
	width 100%
#logotipo
	float left
	width   200px
#main
	background   #FFFFFF
	margin-left  auto
	margin-right auto
	max-width    80%
#promociones
	float left
	width 300px
.distinciones
	float left
	margin 10px
	width 130px
.platillo
	float  left
	margin 5px
	width  240px
.redes
	float  right
	margin 10px
	width  100px