!!!5
html(lang="es")
	head
		meta(charset="utf-8")
		meta(description="Restaurant El Mexicano")
		title Restaurante El Mexicano
		link(rel="stylesheet", href="css/main.css")
		link(rel="stylesheet", href="css/menu.css")
		link(rel="stylesheet", href="css/normalize.css")
		link(href='http://fonts.googleapis.com/css?family=BenchNine', rel='stylesheet', type='text/css')
		script(src="js/modernizr.custom.50041.js")
	body
		#main
			header
				#logotipo
					a(href="#")
						img(src="images/restaurante-el-mexicano.png", alt="El Mexicano",width="100%")
				nav
					ul.menuholder
						li.menu_inicio
							a(href="#") INICIO
						li.menu_conocenos
							a(href="#") CONOCENOS
						li.menu_especialidades
							a(href="#") ESPECIALIDADES
						li.menu_menu
							a(href="#") MENU
						li.menu_servicios
							a(href="#") SERVICIOS
						li.menu_salones
							a(href="#") SALONES BUGAMBILIAS
			#galeriaPromociones
				#galeria
				#promociones
			#especialidades
				h2
					| ESPECIALIDADES
				.platillo
				.platillo
				.platillo
			#descripcion
				h1
					| Restaurante El Mexicano
				p
					| Restaurant "El Mexicano"  fue fundado el 16 de septiembre de 1992 por el C.P. 
					| Manuel Rivera Ramírez.
					br 
					br
					| En un Principio, se inicio con la venta de pollos al carbón. Restaurant " 
					| El Mexicano", era un local pequeño con sillas y mesas de plástico, se ofrecían 
					| pollos para llevar y cabrito al pastor.
					br
					br
					| Debido al crecimiento de comensales, se vio en la necesidad de extenderse a los 
					| locales anexos. Tras unos años, los pollos al carbón y el cabrito dejaron de ser 
					| el principal platillo y se decidió ofrecer servicio a la carta y hacerlo un 
					| Restaurant en forma. Continuaron las modificaciones en las instalaciones, ahora 
					| ya cuenta con salón privado, área de jardín con juegos infantiles, 
					| estacionamiento y una carta extensa que contiene sopas, ensaladas, mariscos, 
					| carnes y pollos, además de nuestras especialidades como son las parrilladas y 
					| molcajetes con los que actualmente nos hemos dado a conocer.
			footer
				.distinciones
					img(src="images/.gif", alt="", title="")
				.distinciones
					img(src="images/.gif", alt="", title="")
				.distinciones
					img(src="images/.gif", alt="", title="")
				.redes
					img(src="images/.gif", alt="", title="")
				.redes
					img(src="images/.gif", alt="", title="")
				.redes
					img(src="images/.gif", alt="", title="")