<?php	require 'controllers/master.php'; $web=new master();?>
!!!5
html(lang="es")
	head
		meta(charset="utf-8")
		meta(description="Servicios que ofrecemos en El Restaurant El Mexicano")
		title Punto Limpio | Restaurante El Mexicano
		link(rel="stylesheet", href="css/main.css")
		link(rel="stylesheet", href="css/menu.css")
		link(rel="stylesheet", href="css/normalize.css")
		link(rel='stylesheet', id='camera-css', href='css/camera.css', media='all')
		link(href='http://fonts.googleapis.com/css?family=BenchNine|Ubuntu+Condensed', rel='stylesheet', type='text/css')
		script(src="js/modernizr.custom.50041.js")
		script(src="js/jquery.min.js")
		script
			$(function(){$("#slider1").responsiveSlides({timeout: 4000}); $("#slider2").responsiveSlides({timeout: 8000}); $("#slider3").responsiveSlides({timeout: 10000}); $("#slider4").responsiveSlides({timeout: 6000});});
		script(src="js/jquery.mobile.customized.min.js")
		script(src="js/jquery.easing.1.3.js")
		script(src="js/camera.js")
		script jQuery(function(){jQuery('#camera_wrap_2').camera({pagination: true,thumbnails: true,imagePath: 'fotos/'});});
	body
		#main
			header
				#logotipo
					a(href="#")
						img(src="images/restaurante-el-mexicano.png", alt="El Mexicano",width="100%")
				nav
					<?php $web->menu(); ?>
			#galeriaPromociones.madera
				img(src="images/punto-limpio-top.jpg", alt="Punto Limpio", width="100%")
			#descripcion
				#textosDos
					h3
						| Punto Limpio
					<?php $web->puntoLimpio(); ?>
				#fotosMenuDos
					#menuDos
						a(href="ubicacion.php").ubicacion Ubicación
						a(href="contacto.php").contacto Contacto
					.fluid_container
						.camera_wrap.camera_azure_skin#camera_wrap_2
							div(data-thumb="fotos/punto-limpio-1s.jpg", data-src="fotos/punto-limpio-1.jpg")
							div(data-thumb="fotos/punto-limpio-2s.jpg", data-src="fotos/punto-limpio-2.jpg")
							div(data-thumb="fotos/punto-limpio-3s.jpg", data-src="fotos/punto-limpio-3.jpg")
							div(data-thumb="fotos/punto-limpio-4s.jpg", data-src="fotos/punto-limpio-4.jpg")
							div(data-thumb="fotos/punto-limpio-5s.jpg", data-src="fotos/punto-limpio-5.jpg")
			footer
				<?php	$web->footer();?>
			#clear